{% extends "base.html" %}
{% block title %}Historique{% endblock %}
{% block content %}
<div class="page-head">
  <div>
    <h1>Historique</h1>
    <p class="muted">Tous vos enregistrements et l'avancement de leur traitement.</p>
  </div>
</div>
<div class="card flush table-wrap">
  <table class="list">
    <caption class="visually-hidden">Enregistrements, du plus récent au plus ancien</caption>
    <thead>
      <tr><th scope="col">Date</th><th scope="col">Cours</th><th scope="col">Durée</th><th scope="col">Statut</th></tr>
    </thead>
    {% include "partials/recordings_rows.html" %}
  </table>
</div>
{% endblock %}
